body {
    font-family: "Bubblegum Sans", cursive;
    color: #134166;
  }
  .container {
    background-color: #f8f9fa;
    border-radius: 15px;
  }
  .code {
   text-align: center;
  }
  .navbar-brand {
    color: #134166;
  }
  .btn-outline-success {
    color: #134166;
    border-color: #134166;
  }
  .curLoc {
    text-align: right;
    padding-top: 10px;
    padding-right: 10px;
  }
  .today {
    text-align: center;
    margin: 15px;
    color: #134166;
  }
  .now1 {
    background-color: #d1e7fd;
    border-radius: 15px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 20px;
  }
  .now {
    font-size: 48px;
  }
  
  .now2 {
    background-color: #d3d6da;
    border-radius: 15px;
    text-align: center;
    font-size: 24px;
    padding-top: 30px;
  }
  
  .forecastTempMax {
    font-size: 28px;
  }
  
  .celsius,
  .fahrenheit {
    color: #134166;
    font-size: 30px;
  }
  
  .imgMain {
    width: 150px;
  }
  .now3 {
    font-size: 36px;
  }
  .hourly {
    font-size: 30px;
  }
  .hourly1 {
    background-color: #d1e7fd;
    border-radius: 15px;
    padding-top:10px;
    margin: auto;
  }
  .days {
    font-size: 30px;
  }
  .days1 {
    background-color: #d3d6da;
    border-radius: 15px;
    padding-top: 10px;
    margin: auto;
  }
  
  .row {
    text-align: center;
  }